## Deliverable 2. Create a Customer Travel Destinations Map.

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config1 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [16]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Madison Heights,US,42.49,-83.11,64.40,48,1,10.29,clear sky
1,1,Ahipara,NZ,-35.17,173.17,65.43,94,96,8.41,overcast clouds
2,2,Norman Wells,CA,65.28,-126.83,-16.60,75,40,2.24,scattered clouds
3,3,Sinnamary,GF,5.38,-52.95,79.32,86,99,9.10,moderate rain
4,4,Caravelas,BR,-17.71,-39.25,71.29,94,100,4.74,heavy intensity rain

In [17]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 100

In [18]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
9,9,Vaini,TO,-21.20,-175.20,80.60,74,40,13.87,scattered clouds
17,17,Kapaa,US,22.08,-159.32,82.40,78,20,10.29,moderate rain
18,18,Kloulklubed,PW,7.04,134.26,86.00,70,90,4.70,overcast clouds
34,34,Butaritari,KI,3.07,172.79,81.61,71,100,8.48,overcast clouds
36,36,Galesong,ID,-5.32,119.37,87.69,60,23,3.94,few clouds
43,43,Victoria Point,AU,-27.58,153.30,87.01,63,0,4.00,clear sky
49,49,Ahuimanu,US,21.44,-157.84,82.40,69,40,5.82,scattered clouds
57,57,Aquiraz,BR,-3.90,-38.39,80.60,83,40,8.05,scattered clouds
69,69,Kimbe,PG,-5.55,150.14,87.13,70,100,4.41,moderate rain
79,79,Isangel,VU,-19.55,169.27,82.63,68,91,2.64,overcast clouds

In [19]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                89
City                   89
Country                89
Lat                    89
Lng                    89
Max Temp               89
Humidity               89
Cloudiness             89
Wind Speed             89
Current Description    89
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
#N/A there is no empty rows

In [20]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Vaini,TO,80.60,scattered clouds,-21.20,-175.20,
17,Kapaa,US,82.40,moderate rain,22.08,-159.32,
18,Kloulklubed,PW,86.00,overcast clouds,7.04,134.26,
34,Butaritari,KI,81.61,overcast clouds,3.07,172.79,
36,Galesong,ID,87.69,few clouds,-5.32,119.37,
43,Victoria Point,AU,87.01,clear sky,-27.58,153.30,
49,Ahuimanu,US,82.40,scattered clouds,21.44,-157.84,
57,Aquiraz,BR,80.60,scattered clouds,-3.90,-38.39,
69,Kimbe,PG,87.13,moderate rain,-5.55,150.14,
79,Isangel,VU,82.63,overcast clouds,-19.55,169.27,

In [21]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json() 
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()

City                   89
Country                89
Max Temp               89
Current Description    89
Lat                    89
Lng                    89
Hotel Name             89
dtype: int64

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
9,Vaini,TO,80.60,scattered clouds,-21.20,-175.20,Keleti Beach Resort
17,Kapaa,US,82.40,moderate rain,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
18,Kloulklubed,PW,86.00,overcast clouds,7.04,134.26,Storyboard Beach Resort
34,Butaritari,KI,81.61,overcast clouds,3.07,172.79,Isles Sunset Lodge
36,Galesong,ID,87.69,few clouds,-5.32,119.37,Sapriadi Appy
43,Victoria Point,AU,87.01,clear sky,-27.58,153.30,Bay Retreat Motel
49,Ahuimanu,US,82.40,scattered clouds,21.44,-157.84,Paradise Bay Resort
57,Aquiraz,BR,80.60,scattered clouds,-3.90,-38.39,Hotel Laguna Blu
69,Kimbe,PG,87.13,moderate rain,-5.55,150.14,Kimbe Bay Hotel
79,Isangel,VU,82.63,overcast clouds,-19.55,169.27,Volcano Sea View Tree House

In [26]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [28]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [29]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))